.lpma-logo-bg
  +iphone()
    width 283px
    height 280px
  +iphone5()
    width 276px
    height 274px

.lpma-logo
  +iphone()
    width 160px
    height 108px
  +iphone5()
    width 154px
    height 102px