.design
  width 100vw
  position absolute
  top 0
  z-index 0
  opacity 0.5

.consult-page
  .consult-bg
    width 100vw
    position absolute
    overflow hidden

    .consult-illustration
      margin-left 58.8vw
      margin-top 42.5vh

    .mail-box
      margin-left 58.8vw
      margin-top 22.5vh

  .consult-content
    margin-top 10vh
    width 80vw

    .consult-heading
      margin 4vh 0
      font-size 2.9vw
      width 50vw

    .consult-text-mobile
      display none

    .consult-para
      margin 0
      width 45vw
      font-size 1.5vw

  .mail-section
    width 80vw
    margin-top 16vh
    margin-bottom 20vh
    z-index 1

    .mail-heading
      margin 0
      width 50vw
      font-size 2.58vw

    .mail-form
      margin-top 5vh
      width 40vw
      display flex
      flex-direction column

      .input, .text-area
        width 100%
        margin 2vh 0

      .button
        padding 17px 78px
        line-height 23pt
        flex 1 0 auto
        border-radius 100px
        font-size 18px
        letter-spacing 1.8px
        align-self center
        margin-top 40px
