.design
  width 100vw
  position absolute
  top 0
  z-index 0
  opacity 0.5

.consult-page
  .consult-bg
    width 100vw
    position absolute
    overflow hidden

    .consult-illustration
      margin-left 28.8vw
      margin-top 42.5vh

  .consult-content
    margin-top 10vh
    width 80vw
    margin-bottom 40vh

    .consult-heading
      margin 4vh 0
      font-size 2.9vw
      width 50vw

    .consult-para
      margin 0
      width 45vw
      font-size 1.5vw
      line-height 4.5vh

