.consult-page
  .header
    position relative

  .notification-container
    width 365px

  .consult-bg
    width 100vw
    position absolute
    overflow hidden

    .consult-illustration
      margin-left 58.8vw
      margin-top 27.5vh

    .mail-box
      margin-left calc(100vw - 39.84375vw)
      margin-top 22.5vh

  .consult-content
    margin-top 10vh
    width 50vw

  .mail-section
    margin-top 16vh
    margin-bottom 20vh
    z-index 1
    width 45vw

    .mail-form
      margin-top 5vh

      .input, .text-area
        width 100%
        margin 10px 0 28px 0

      .button
        margin-top 40px
