.button
  cursor pointer
  background-color #FF5551
  border none
  border-radius 45px
  padding 20px 30px
  color white
  outline none
  font-weight bold
  font-size 14px
  font-family "PT Sans", sans-serif
  transition all 0.2s ease 0s
  text-transform uppercase
  letter-spacing 2.5px

  &:hover
    transform translateY(-2px)
    box-shadow 0 10px 15px rgb(255, 216, 215)
