.button
  cursor pointer
  background-color #FF5551
  border-width 0
  border-radius 47.5px
  padding 2vw 5vw
  color white
  outline none
  font-weight bold
  font-size 1.41vw
  font-family "PT Sans", sans-serif
  transition all .3s ease-out

  &:hover
    transform scale(1.02)
    box-shadow 0 10px 45px 0 rgba(0, 0, 0, 0.3)
