.booqed-page .about-section
  .about-section-background
    fill rgba(255, 255, 255, 0.4)

  .short-description
    .title
      color #03A0FF
    .description
      color black

  .service-description
    .heading
      color black
      font-size 32px
    .paragraph
      color black
