+iphone()
  .services
    .section-heading
      padding 64px 0
      font-weight $regular-weight
      line-height 1
      letter-spacing 6px

+iphone5()
  .services
    .section-heading
      padding 60px 0
      font-weight $regular-weight
      line-height 1
      letter-spacing 6px