+iphone()
  .hub-page .prototypes-section
    height 100vh
    justify-content center

    .prototype
      display none

      &:nth-child(2)
        display block

      img
        width 230px !important
        height 460px !important

+iphone5()
  .hub-page .prototypes-section
    height 100vh
    justify-content center

    .prototype
      display none

      &:nth-child(2)
        display block

      img
        width 230px !important
        height 460px !important
