.next-project-section
  background-color $marble
  padding 80px 0
  display flex
  align-items center
  justify-content center

  .description
    display flex
    flex-direction column
    margin-left 80px
    font-family Roboto Mono, sans-serif

    .title
      margin-bottom 16px
      font-size 24px
      font-weight $medium-weight

    .desc
      font-family Roboto, sans-serif
      font-size $small
      width 300px
      margin-bottom 24px
      color rgba(0, 0, 0, .6)

    .full-review-btn .button
      float left

      .button-title
        color black
