.next-project-section
  background-color $marble
  padding 80px 0
  display flex
  align-items center
  justify-content center
  flex-direction column
  font-family Roboto Mono
  font-size $small

  .title
    margin-bottom 14px
    font-weight $medium-weight
    text-transform uppercase
    letter-spacing 1.75px

  .desc
    width 460px
    text-align center
    margin-bottom 30px
    color rgba(0, 0, 0, .6)
    letter-spacing 1.36px

  .full-review-btn
    font-size $small

    .button-title
      color black
