.next-project-section
  background-color $marble
  padding 80px 0
  display flex
  align-items center
  justify-content center

  .description
    text-align center
    display block
    font-family "Open Sans", sans-serif

    .title
      margin-bottom 16px
      font-size 24px
      font-weight 600

    .desc
      font-family "Open Sans", sans-serif
      font-size 14px
      width 300px
      margin-bottom 24px
      color rgba(0, 0, 0, .6)

    .full-review-btn
      display: inline-block

      .button-hover-text, .button-icon
        width 48px
        height 48px
        border-radius 48px

      .button
        float left

        .button-title
          color black
