.hub-page .additional-prototypes-section .prototype
  display none

+iphone()
  .hub-page .additional-prototypes-section
    display flex
    height 100vh
    justify-content center

    .prototype
      display block

      img
        width 230px !important
        height 460px !important

+iphone5()
  .hub-page .additional-prototypes-section
    display flex
    height 100vh
    justify-content center

    .prototype
      display block

      img
        width 230px !important
        height 460px !important
