.hub-page .additional-prototypes-section
  .mobile-prototype
    display none
  .desktop-prototype
    height 720px
    display block
    text-align center

    img
      width 70%


+iphone()
  .hub-page .additional-prototypes-section
    display flex
    height 100vh
    justify-content center

    .desktop-prototype
      display none

    .mobile-prototype
      display block

      img
        width 230px !important
        height 460px !important

+iphone5()
  .hub-page .additional-prototypes-section
    display flex
    height 100vh
    justify-content center

    .desktop-prototype
      display none

    .mobile-prototype
      display block

      img
        width 230px !important
        height 460px !important
