.navigation-bar
  +iphone()
    position absolute

    &.opened
      position fixed
      height 100%
      padding 40px
      top 0
      background linear-gradient(white, $snow)

      .bar-content
        .top-bar
          animation none
          opacity 1

        .social-links
          display flex
          position absolute
          bottom 24px

          a
            margin-right 24px

            svg
              width 18px
              height 18px

            &:last-child
              margin-right 0

        .links
          display flex
          position absolute
          flex-direction column
          top 25%

          a
            margin 0 0 40%
            font-weight 500
            color black

            &:before
              content none

            &:last-child
              margin 0

    &.closed
      height 100vh
      padding 40px
      top 0
      position absolute

    .bar-content
      display flex
      align-items center
      padding 0

      .links
        display none

      .top-bar
        display flex
        flex 1
        justify-content space-between
        align-items center

        .menu-icon
          margin-left -6px

        .logo-icon
          display none

        .menu
          display flex

  +iphone5()
    &.opened
      padding 30px

      .bar-content .links a
        margin 0 0 30%
