+iphone()
  .navigation-bar
    position relative

    .bar-content
      display block
      padding 0

      .links
        display none


+iphone5()
  .navigation-bar
    position relative

    .bar-content
      display block
      padding 0

      .links
        display none