+iphone()
  .intro-page
    .intro-bg-container
      overflow hidden

      .intro-bg
        margin-left 0
        margin-top 60vh

    .intro-main
      padding 0 5% 0 10%

      .intro-logo-container
        margin-top 10%

      .intro-header
        height auto

        .intro-principle
          .intro-principle-line
            width 7.73%
            margin-right 2.13%

          .intro-principle-text
            font-size 2.67vw
            letter-spacing 3px

        .intro-heading
          font-size 6.93vw
          line-height 30pt
          margin-bottom 18px

        .intro-description
          margin-top 0
          font-size 4vw
          line-height 22pt

      .button-container
        margin-top 10%

        .button-new
          font-size 4.27vw
          padding 5.6% 9.8%

