.impact-page
  .impact-bg
    height 120vh
    width 100vw
    position absolute
    overflow hidden

    .impact-svg
      margin-left 62vw
      margin-top 44.4vh

  .impact-content
    margin-top 14vh
    width 80vw
    margin-bottom 38vh

    .impact-heading
      font-size 2.9vw
      margin 0

    .impact-description
      margin-top 4vh
      width 45vw
      max-height 52vh
      overflow hidden
      font-size 1.5vw
      line-height 4vh
      opacity 0.8
      letter-spacing normal
