.impact-page
  .impact-content
    margin-top 14vh
    width 100%
    margin-bottom 38vh

    .impact-bg
      top 0
      right 0
      height 120vh
      width 100vw
      position absolute
      overflow hidden

      .impact-svg
        margin-left 62vw
        margin-top 44.4vh

    .impact-description
      margin-top 4vh
      width 45vw
      max-height 52vh
