@import '~styles/config.styl'

.contact-us-btn
  font-family 'Roboto Mono', sans-serif
  font-weight $medium-weight
  color $blue
  text-transform uppercase
  text-decoration none
  align-items center
  display flex

  svg
    margin-left 10px
