+iphone()
  .betteryet-page .header-section
    .navigation-bar
      position absolute
      padding 40px

      &.opened
        background $betteryetYellow

        .links a
          color white

    .menu-icon svg,
    .close-menu-icon svg,
    .social-links svg
      fill white

    .mobile-container img.mobile
      width 309px
      height 415px

+iphone5()
  .betteryet-page .header-section
    .navigation-bar
      padding 30px

    .mobile-container img.mobile
      width 280px
      height 392px
