+alliphones()
  .page-404
    position relative

    .navigation-bar .bar-content
      padding 44px 32px 0

    .content
      align-items flex-start

      .info
        position static
        margin-top 32px
        width 100%

        .heading
          margin-bottom 20px

          .title
            font-size 21px
            line-height 30px

        .paragraph
          width 100%
          opacity 0.6
          line-height 28px

        .home-button
          margin-top 24px

        .illustration
          z-index -1
          left 0
          bottom 0
          margin 0 0 6px
          width 380px
          height 296px
          background url(/images/404artwork-mobile@2x.png)
          background-size @width @height