.page-404
  +iphone()
    .mobile-bg
      width 100%
      height 296px
      display block
      position absolute
      bottom 28px
      background url(/images/404/mobile-bg@2x.png)
      background-size @width @height

    .content
      +iphone()
        padding 44px 40px 0
        align-items flex-start
        width 100%

      .content-info
        +iphone()
          width 100%

        .heading
          +iphone()
            margin-bottom 20px

          .title
            +iphone()
              font-size 21px

        .paragraph
          +iphone()
            width 100%
            font-size 15px
            line-height 28px
            opacity 0.6

        .lets-go-home-button
          +iphone()
            margin-top 48px
