.footer-section
  display flex
  flex-direction column
  justify-content space-between
  font-family Poppins

  a
    text-decoration none

  .projects
    height 428px
    display flex

    .project
      flex 1
      display flex
      justify-content center
      align-items center

      .project-name
        color white
        font-size 42px

        span
          content ''
          display inline-block
          width 8px
          height 8px
          border-radius 4px
          margin 0 0 -1px 4px
