@import "~styles/config.styl"

.footer-section
  display flex
  flex-direction column
  justify-content space-between

  .title
    text-align center
    font-size 42px
    margin 120px 0
    color #09CE95

  .projects
    height 428px
    display flex

    .project
      flex 1
      display flex
      justify-content center
      align-items center

      .project-name
        color $white
        font-size 42px

        span
          content ''
          display inline-block
          width 8px
          height 8px
          border-radius 4px
          margin 0 0 -1px 4px

//
  //    &:last-child
  //      background-color #FFDF4A
  //
  //    span
  //      color $white
  //      font-size 42px
  //      line-height 58px
  //
  //      &:last-child
  //        font-size 92px
