.landing
  overflow hidden

  .contact-us
    +iphone()
      background linear-gradient($white, #DFE8F7)

    .contact-us-form
      +iphone()
        height 100%

    .footer
      display none

      +iphone()
        display flex
        background-color transparent

  >.footer
    +iphone()
      display none
