.landing
  overflow hidden

  .contact-us
    +iphone()
      background linear-gradient(white, #DFE8F7)

    +iphone5()
      background linear-gradient(white, #DFE8F7)

    .footer
      display none

      +iphone()
        display flex
        background-color transparent

      +iphone5()
        display flex
        background-color transparent

  >.footer
    iphoneDisabled()
    iphone5Disabled()
