.landing
  overflow hidden

  .contact-us
    background linear-gradient($white, #DFE8F7)

    .contact-us-form
      +iphone()
        height 100%

    .footer
      +iphone()
        background-color transparent

  >.footer
    +iphone()
      display none
