@import '~styles/config.styl'

.lpma-page
  .colors-section
    z-index 1
    position relative
    font-family: Rubik, sans-serif;
    width 80%

    display: flex
    align-items: center
    justify-content: center
    margin 0 auto 128px

    .colors .color .color-info
      font-weight $bold-weight
      font-size 22.4px

    .section-name
      width 100vw
      font-size 29vw
      line-height 21.2766vw
      color #ffffff
      opacity 0.06
