@import "~styles/config.styl"

.contact-us
  display flex
  flex-direction column
  height 100vh
  justify-content center
  margin 0 124px

  .section-heading
    margin-top 20px
    justify-content center

  .contact-form-section
    display flex
    flex-direction column
    flex 1
    align-self center
    justify-content center

    .contact-form
      margin-top 80px

      div
        display flex

      .form-input
        margin 0 32px 24px 0

        &:last-child
          margin 0

      .form-text-area
        margin-bottom 22px

  .form-message
    display flex
    justify-content center
    margin-top 22px
    color $grayish-blue
    font-size $small
    line-height 20px
    letter-spacing 0.1px

