@import "~styles/config.styl"

.contact-us
  display flex
  flex-direction column
  height 100vh
  justify-content center
  margin 0 124px

  .section-heading
    margin-top 20px
    justify-content center

  .contact-form-section
    display flex
    flex-direction column
    flex 1
    align-self center
    justify-content center

    form.contact-form
      margin-top 80px

      div
        display flex
        justify-content space-between

      .form-input
        margin 0 16px 16px 0
        flex 1 1 auto

        &:last-child
          margin 0
