@import "~styles/config.styl"

.contact-us
  display flex
  flex-direction column
  max-width 1432px
  height calc(100vh - 76px)
  margin 80px auto 0

  .contact-us-form
    display flex
    flex-direction column
    align-self center
    justify-content space-between
    margin 80px 0 0 0
    width 1240px
    height 348px

    div
      display flex
      justify-content space-between
