{
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "extends": "@insighty-studio/eslint-config-react",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src/imports"
        ]
      }
    }
  }
}
