.lpma-page
  .header-section
    height 100vh
    display flex
    align-items center
    justify-content center

    .lpma-graph
      position absolute
      width 80%
      z-index 2

    .lpma-title
      position absolute
      width 51.9%
      z-index 1

    .laptop-image
      position relative
      top 4%
      left 6%
      z-index 3

      img
        width 35.7vw
