+iphone()
  .header
    padding 40px
    background url(/images/main-art-mobile@2x.png) center bottom no-repeat, linear-gradient(white, $snow)
    background-size 100% auto

    .content
      padding 0
      width 100%
      display block

      .content-info
        width 100%
        display block
        margin-top 16px

        .heading
          margin 24px 0

          .sub-title
            &:before
              width 30px

        .paragraph
          opacity 0.6
          line-height 2

        .title
          font-size 21px
          line-height 1.5
          margin-bottom 16px

        .buttons
          display none

+iphone5()
  .header
    background linear-gradient(white, $snow)
    padding 30px

    .content .content-info .title
      font-size 20px
      line-height 1.4
