.process
  .process-content
    position absolute
    overflow hidden
    width 100%

    .container
      width 100%
      max-width 1160px
      margin 0 auto
      padding 120px 0

      .row
        display flex
        justify-content space-evenly
        margin-top 80px