.process
  display flex
  flex-direction column
  padding 120px 0

  +iphone()
    padding 64px 0
    max-width 100%
    width 100%

    +iphone()
      margin-top 0

  .description
    display flex
    flex-direction column

    .row
      display flex
      justify-content space-around
      width 100%
      margin-top 86px

      +iphone()
        display block
        margin-top 0

      +iphone5()
        display block
        margin-top 0

      &:first-child
        margin-top 96px

        +iphone()
          margin-top 0

        +iphone5()
          margin-top 0
