@import '~styles/config.styl'

.lpma-page
  .about-section
    margin-bottom 128px

    .desc
      z-index 1
      position relative
      font-family: -apple-system, BlinkMacSystemFont, sans-serif;
      max-width 1452px
      min-height 0
      width 80%
      margin-bottom 10vw

      .short
        font-size 20px
        line-height 24px

        ul
          li
            font-weight $regular-weight

            span
              font-weight $semi-bold-weight

      .story
        font-weight $bold-weight
        font-size 32px
        line-height 54px

        span
          color #6EBF56

    .section-name
      font-size 25vw
      line-height 21.2766vw
      color #ffffff
      opacity 0.06

    .logo
      position relative
      top 64px

      svg
        z-index 2
        position absolute
        top 11vw
        width 18vw

      .logo-bg
        z-index 1
        position relative
        margin-top 0

        img
          width 35vw
