.lpma-page .about-section
  font-family Rubik, sans-serif

  .section-name
    color $white

  .about-section-background
    fill #515A5D

  .desc
    .service-description .sub-title, .short-description .title
      color $green

      &:before
        background $green
