.lpma-page
  .about-section
    .section-name
      color white

    .about-section-background
      fill #515A5D

    .desc
      .service-description .sub-title, .short-description .title
        color $green

        &:before
          background $green
