.footer
  display flex
  justify-content space-between
  line-height 26px
  background-color $white
  padding 40px 120px
  font-family Poppins
  font-weight 200

  +iphone()
    flex-wrap wrap
    padding 40px 30px
    text-align center

    .footer-details
      width 100%

    .rights
      width 100%
      margin-top 12px

