@import "~styles/config.styl"

.footer
  display flex
  justify-content space-between
  max-width 1432px
  margin 0 auto 26px
  color $grayish-blue
  font-weight $light-weight
  line-height $typical-height

  .footer-details
    width 320px

  .rights
    width 268px

