.footer
  display flex
  justify-content space-between
  line-height 26px
  background-color white
  padding 40px 120px

  +iphone()
    flex-wrap wrap
    padding 0 55px 18px
    font-size 14px
    text-align center

    .footer-details
      width 100%

    .rights
      width 100%
      margin-top 12px

      +iphone()
        margin-top 32px
