@import "~styles/config.styl"

.form-input
  min-width 604px
  height 48px

  input
    width 100%
    height 100%
    outline none
    padding 12px 20px
    border 1px solid $snow
    color $nobel
    font-size $small
    line-height $small-height
    letter-spacing 0.1px
    background-color $snow

    &::placeholder
      color $nobel
