@import '~styles/config.styl'

.navigation-bar
  display flex
  justify-content flex-end
  margin-top 32px
  min-height 20px

  .links
    display flex
    opacity 0
    animation opacityMainSection .5s forwards
    animation-duration .5s
    animation-delay 1.6s

    a
      color $black
      font-size $small
      line-height 20px
      text-decoration none
      margin-right 32px
      cursor pointer

      &:last-child
        margin-right 0

@keyframes opacityMainSection
  0%
    opacity 0

  100%
    opacity 1
