@import '~styles/config.styl'

.navigation-bar
  display flex
  justify-content flex-end
  margin-top 32px

  .links a
    color $black
    font-size $small
    line-height $small-height
    text-decoration none
    margin-right 32px
    cursor pointer

    &:last-child
      margin-right 0
