@import "~styles/config.styl"

.logo
  display flex
  flex 1
  align-self center
  align-items center
  justify-content space-around
  width 500px
  height 230px
  background: url("../../../../../../imports/images/logo-bg.png") no-repeat center;

  .logo-title
    font-weight $semi-bold-weight
    letter-spacing 0.1px
    font-size $logo
    line-height $logo-height

    span:last-child
      color $light-blue

  .logo-motto
    width 226px
    font-size $large
    line-height $medium-height
    font-weight 500
