+iphone()
  .footer
    padding 80px 20px

    .menu
      flex-direction column

      .logo
        margin-right 0

      .socials
        margin-top 40px

      .links
        display flex
        text-align center
        flex-direction column

        a
          margin 16px 0 0

          &:first-child
            margin-top 40px

    .details
      font-family Roboto
      flex-direction column-reverse
      align-items center
      text-align center
      letter-spacing .3px
      margin-top 40px

      .rights
        margin-top 8px

      .info
        text-align center
