+iphone()
  .footer
    scroll-snap-align start none
    flex-shrink 0
    height 100vh
    z-index 6
    padding 0

    .menu
      display flex
      flex-direction column

      .logo
        margin 9.9vh 0 5.3vh 0
        width 12.8vw

      .links
        display flex
        flex-direction column
        align-items center

        a
          font-size 4.27vw
          margin 0 0 4vh 0

          &:last-child
            margin-bottom 5.3vh

          &:first-child
            display block

      a
        text-decoration none

        .header-button
          display block
          background-color #ffffff
          color #5C64AA
          width 58.67vw
          height 7.5vh
          font-size 4.27vw
          margin-bottom 7.8vh
          letter-spacing 1.6px
          text-decoration none

      .socials
        a
          margin-right 6.4vw

          &:last-child
            margin-right 0

          svg
            width 4.53vw
            height 4.53vw

    .details
      display flex
      flex-direction column-reverse
      align-items center
      margin-top 4.95vh

      .info, .rights
        text-align center
        font-size 3.73vw
        line-height 18pt
        letter-spacing normal

