@import "~styles/config.styl"

.service
  width 370px

  .service-title
    width 256px
    margin 0
    font-size $giant
    line-height $giant-height

  .service-description
    margin: 14px 0 0 0
    color $mostly-black
    font-weight $light-weight
    line-height $medium-height
