.communihelp-page .header-section
  display flex
  align-items center
  justify-content center
  height 100vh
  margin 0 32px

  .communihelp-title
    font-family Montserrat
    color #fff
    font-size 170px
    font-weight 600

  .mobile-container
    position absolute
    z-index 1

    img.mobile
      width 583px
      height 350px
