.betteryet-page
  overflow hidden
  background-color $betteryetBlue

  .white-paper
    +iphone()
      background linear-gradient(white, #DFE8F7)
    .paper-width .footer
      display none

      +iphone()
        display block
        background-color transparent

  >.footer
    +iphone()
      display none