.betteryet-page
  .white-paper
    +alliphones()
      background linear-gradient(white, #DFE8F7)

    .paper-width .footer
      +alliphones()
        display block
        background-color transparent

  >.footer
    +alliphones()
      display none
