.case-studies-page
  .sticky-heading
    position absolute
    top 80px
    margin 0
    padding-left 10%
    background-color white
    z-index 10
    font-size 6.93vw
    font-weight bold
    height 38px
    width 100%

  .fullpage-wrapper
    .section
      .fp-tableCell
        position relative
        top 80px
        vertical-align top

.fp-viewing-3
  .case-studies-page
    .sticky-heading
      z-index 0
      transition z-index 0s
      transition-delay 0.25s
    .mobile-header
      z-index 0
      transition z-index 0s
      transition-delay 0.35s
    .fp-tableCell
      top 0 !important
