@import "mixins.styl"

// Font Size
$small = 14px
$normal = 16px
$large = 18px
$title = 26px
$work = 42px
$section = 48px

// Font Weight
$thin-weight = 100
$light-weight = 300
$regular-weight = 400
$medium-weight = 500
$semi-bold-weight = 600
$bold-weight = 700

// Colors
$white = #FFF
$black = #000
$snow = #F9F9F9
$nobel = #999
$light-gray = #9FA2A9
$dark-gray = #5D6063
$gray = #6B7282

$dark-blue = #101829
$blue = #005EFF
$light-blue = #0084FF
$yellow = #FFDF4A
$light-green = #39C877

// Project Colors
$betteryetBlue = #9FC6E2
$betteryetYellow = #FFDF4A
$lpmaGreen = #7ED321
$lpmaDarkGray = #464F53
