/** CSS Property Values */

// font-size
$small = 14px
$normal = 16px
$large = 18px
$title = 26px
$work = 42px
$section = 48px

// font-weight
$thin-weight = 100
$light-weight = 300
$regular-weight = 400
$medium-weight = 500
$semi-bold-weight = 600
$bold-weight = 700

// color
$white = #FFF
$black = #000
$snow = #F9F9F9
$whisper = #EEE
$nobel = #999
$very-dark-gray = #4A4A4A
$mostly-black = #1A1A1A

// new colors
$dark-gray = #5D6063
$gray = #6B7282
$light-gray = #9FA2A9

$dark-blue = #101829
$blue = #005EFF
$light-blue = #0084FF
$yellow = #FFC600
$light-green = #39C877
