/** CSS Property Values */

// font-size
$small = 14px
$normal = 16px
$large = 18px
$title = 26px
$work = 42px
$section = 48px

// font-weight
$light-weight = 200
$regular-weight = 400
$medium-weight = 500
$semi-bold-weight = 600

// color
$white = #FFF
$black = #000
$snow = #F9F9F9
$whisper = #EEE
$nobel = #999
$very-dark-gray = #4A4A4A
$mostly-black = #1A1A1A
$light-blue = #3492FF
