@import "config.styl"

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
  font-size: 16px
  line-height: 1.5

  +iphone()
    font-size 15px

  +iphone5()
    font-size 14px

h1, h2, h3
  font-weight: 500

.no-user-select
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.hover-grow
  display inline-block
  vertical-align middle
  transform translateZ(0)
  box-shadow 0 0 1px rgba(0, 0, 0, 0)
  backface-visibility hidden
  -moz-osx-font-smoothing grayscale
  transition-duration 0.3s
  transition-property transform

  &:hover, &:focus, &:active
    transform scale(1.1)
