.client
  z-index 1
  display flex
  width 774px

  .client-photo
    img
      width 160px
      height 160px
      border-radius 50%

  .client-overview
    margin-left 40px
    font-family "Roboto Mono", sans-serif

    .name, .position
      font-size $small
      text-transform uppercase

    .name
      font-weight $medium-weight
      letter-spacing 2px

    .position
      margin-top 8px
      opacity 0.6
      letter-spacing 1px

    .comment
      margin 32px 0
      font-size 32px
      line-height 42px

  .buttons
    display flex

    .full-review-btn, .project-details-btn
      height 32px
      color $black
      font-size $small

      .button-hover-text
        width 32px
        height 32px
        box-shadow none
        background $black

      .button-icon
        width 32px
        height 32px
        border-radius 50%
        background $black

    .project-details-btn
      margin-left 40px
