@import '~styles/config.styl'

.lpma-page
  .main-section
    height 100vh
    display: flex
    align-items: center
    justify-content: center
    margin-bottom 128px

    .lpma-graph
      position absolute
      width 80vw
      z-index 2

    .lpma-title
      position absolute
      width 51.9vw
      z-index 1

    .laptop-image
      position relative
      top 4vh
      left 6vw
      z-index 3

      img
        width 35.7vw
