@import "~styles/config.styl"

.superhero-page
  .main-section
    height 100vh
    display: flex
    align-items: center
    justify-content: center

    img
      width 666px
      height 522px
      position absolute
