@import "~styles/config.styl"

.description
  display flex
  margin-bottom 32px
  width 470px
  color: $very-dark-gray
  line-height 24px

  div span
    color $light-blue
    font-weight $medium-weight
