@import "~styles/config.styl"

.description
  width 470px
  min-height 104px
  margin-bottom 32px
  color: $very-dark-gray
  line-height 26px
  opacity 0
  animation opacityMainSection .5s forwards
  animation-duration .5s
  animation-delay 1.6s

  span
    font-weight $medium-weight
