@import "~styles/config.styl"

.contact-us
  display flex
  flex-direction column
  margin 0px 124px

  .section-heading
    margin-top 120px

  form
    display flex
    flex-direction column
    align-self center
    align-items center
    margin-top 64px

    .form-raw
      margin-bottom 32px

      .input:last-child
        margin-left 32px

    .text-area
      margin-bottom 64px

    .form-btn
      width 150px
      font-family 'Roboto Mono'
      line-height 21px
      font-weight $medium-weight

  .form-message
    display flex
    justify-content center
    height 20px
    margin 22px 0 54px
    color $grayish-blue
    font-size $small
    line-height 20px
    letter-spacing 0.1px
    transition 1s
    opacity 0

  .appearance
    opacity 1
