.about-section
  +alliphones()
    height 100%
    padding 40px
    justify-content flex-start

  .desc
    +alliphones()
      flex-direction column

    .service-description .heading
      +alliphones()
        margin 32px 0 16px
