.about-section
  position relative
  display flex
  flex-direction column
  justify-content center
  height 720px

  .desc-parallax
    z-index 1

  .desc
    display flex
    width 100%
    max-width 1160px
    margin 0 auto
    justify-content space-evenly
    z-index 1

    .short
      ul
        margin 0
        padding-left 0
        width 280px

        li
          font-size 20px
          font-weight 700
          color #999
          list-style none
          margin-bottom 30px

          &:last-child
            margin 0

        span
          color white

        &:last-item
          margin-bottom 0

    .service-description
      height 100%
      margin 0

    .story
      width 660px
      font-weight 500
      font-size 36px
      color white

      span
        color #FFD900
