.step
  display flex
  flex-direction column

  .number
    display flex
    align-items center
    margin-bottom 20px

    .line
      position absolute
      left 0
      width 100%
      min-height 2px
      background-color $light-green

      &.first
        left auto

      &.last
        width 54%

    .circle
      z-index 1
      display flex
      justify-content center
      align-items center
      min-width 50px
      min-height 50px
      border 2px solid $light-green
      border-radius 50%
      color $light-green
      font-size $large
      font-weight $medium-weight
      line-height 21px
      background-color white

  .info
    .title
      font-size 24px
      line-height 40px
      margin-bottom 12px

    .paragraph
      width 410px
      color rgba(0, 0, 0, 0.6)
