+iphone()
  .betteryet-page  .prototypes-section
    height 100vh
    justify-content center

    .prototype
      display none

      &:first-child
        display block

      img
        width 283px
        height 574px

+iphone5()
  .betteryet-page  .prototypes-section
    height 100vh
    justify-content center

    .prototype
      display none

      &:first-child
        display block

      img
        width 283px
        height 574px