.communihelp-page .about-section
  .section-name
    color white

  .about-section-background
    fill #000
    opacity 0.05

  .desc
    ul li
      color #FFDF4A

    .service-description .sub-title, .short-description .title
      color #5C64AA

      &:before
        background #5C64AA
