.client-footer
  display flex
  width 780px
  padding-bottom 16px
  margin 120px 0
  max-width 675px

  .client-photo
    img
      vertical-align middle
      width 160px
      height 160px
      border-radius 50%

  .client-overview
    margin-left 40px
    font-family "Roboto Mono", sans-serif

    .name, .position
      font-size $small
      text-transform uppercase

    .name
      font-weight $medium-weight
      letter-spacing 2px

    .position
      margin-top 8px
      opacity 0.6
      letter-spacing 1px

    .comment
      margin 32px 0
      font-size 32px
      line-height 42px

  .buttons
    display flex

    .full-review-btn, .project-details-btn
      height 32px
      color black
      font-size $small

      .button-hover-text
        width 48px
        height 48px
        box-shadow none
        background black

      .button-icon
        border-radius 50%
        background-color black

    .project-details-btn
      margin-left 40px

.client-enter
  opacity 0.01

.client-enter.client-enter-active
  opacity 1
  transition opacity 500ms ease-outi

.client-leave
  opacity 1

.client-leave.client-leave-active
  opacity 0.01
  transition opacity 300ms ease-in
