+iphone()
  .lpma-page
    .illustrations-section
      height 100vh
      justify-content flex-end

      .illustration-image
        display none

      .illustration-image-mobile
        width 362px
        height 490px
        display inline


+iphone5()
  .lpma-page
    .illustrations-section
      height 100vh
      justify-content flex-end

      .illustration-image
        display none

      .illustration-image-mobile
        width 320px
        height 460px
        display inline