.lpma-page .illustrations-section .mac-parallax
  +iphone()
    .illustration-image-mobile
      width 362px
      height 490px
      display inline

      +iphone5()
        width 320px
        height 460px
