.clients
  .background
    position absolute
    min-height 762px
    height 100%
    width 100%

  .content
    min-height 762px
    position relative
    overflow hidden
    display flex
    flex-direction column
    align-items center
    height 100vh
    padding 120px 0

    span
      display flex
      justify-content center

    .section-heading
      margin-bottom 80px

    .pagination
      display flex
      flex 1
      align-items flex-end

    .element:last-child
      margin-right 0

      svg
        vertical-align middle
