.clients
  .content
    min-height 762px
    position relative
    overflow hidden
    display flex
    flex-direction column
    align-items center
    height 100vh
    padding 120px 0

    .section-heading
      z-index 2
      margin-bottom 80px

    .pagination
      display flex
      flex 1
      align-items flex-end

    .element:last-child
      margin-right 0

    .background
      left 50%
      bottom 0
      position absolute
      margin-left 138px

      svg
        vertical-align middle

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}