@import "~styles/config.styl"

.clients
  position relative
  overflow hidden
  display flex
  flex-direction column
  align-items center
  height 100vh
  padding 120px 0
  background #FFDA30

  .section-heading
    z-index 2
    margin-bottom 80px

  .pagination
    display flex
    flex 1
    align-items flex-end
