.lpma-page
  .font-section
    color #ffffff
    font-family Rubik, sans-serif
    margin-bottom 128px

    .company
      color #6EBF56

      span
        color $white


    .font-types .font-size
      color #A5A5A5

    .font-types .font-example
      color #4E6553

    .section-name
      opacity 0.06
