@import "~styles/config.styl"

.button
  outline none
  cursor pointer

  &.white
    padding 10px 40px
    font-size 20px
    line-height 28px
    letter-spacing 0.14px
    border 10px solid #F9F9F9
    background-color $white

  &.blue
    color $white
    padding 12px 32px
    font-size 16px
    border-radius 32px
    border 1px solid $blue
    background-color $blue

  &:disabled
    opacity 0.9
