.button
  cursor pointer
  background-color #FF5551
  border-width 0
  border-radius 47.5px
  padding 0 32px
  color white
  outline none
  font-weight bold
  font-size 14px
  text-transform: uppercase
  text-decoration: none
  letter-spacing 2px
  transition all .3s ease-out
  display inline-block
  height: 64px
  line-height: 64px

  &:hover
    box-shadow 0 4px 32px 0 rgba(255, 85, 81, 0.3)

.button-link
  background: none
  border: none
  padding: 0
  margin: 0
  display inline
  color: $purple
  text-decoration: underline
  outline: none
  cursor: pointer

