.button-new
  cursor pointer
  background-color #FF5551
  border-width 0
  border-radius 47.5px
  padding 2vw 5vw
  color white
  outline none
  font-weight bold
  font-size 1.41vw
  font-family "PT Sans", sans-serif
  transition all .3s ease-out

  &:hover
    background-color #F96666
    transform scale(1.005)
