.services-content
  margin-top 14vh
  width 100vw

  .services-bg
    position absolute
    overflow hidden
    top 0
    right 0
    z-index -1

    .services-chart
      margin-left 61.2vw
      margin-top 39.5vh

  .services-description
    width 50vw
    padding-bottom 32px
