@import '~styles/config.styl'

.about-section
  display flex
  flex-direction column
  position relative
  padding 0 32px

  .desc
    display flex
    max-width 1320px
    width 100%
    z-index 1
    margin 0 auto
    justify-content space-between
    min-height 450px

    .short ul
      margin 0 auto
      padding-left 0
      width 280px

      li
        font-size 20px
        font-weight 700
        color #999
        list-style none
        margin-bottom 15px

        span
          color $white

        &:last-item
          margin-bottom 0

    .story
      width 660px
      font-weight 500
      font-size 36px
      color $white

      span
        color #FFD900

  .logo
    display flex
    justify-content center
    min-height 700px
    margin-top 20px

    .logo-bg
      position absolute
      margin-top -70px
