.partners
  display grid
  grid-template-columns repeat(3, 1fr)
  align-items center
  justify-items center
  grid-gap 80px
  padding 120px 0
  background-color rgba(0,0,0, .1)

  +iphone()
    height 100%
    padding 64px 0
    flex-direction column
    background-color $white

  svg
    +iphone()
      margin 0 0 64px

    &:last-child
      margin 0
