.partners
  display grid
  grid-template-columns repeat(3, 1fr)
  align-items center
  justify-items center
  grid-gap 80px
  padding 120px 0
  background-color rgba(0,0,0, .1)

  svg:last-child
    margin 0
