.partners
  display flex
  justify-content center
  align-items center
  height 280px
  background-color rgba(0,0,0, .1)

  +iphone()
    height 100%
    padding 64px 0
    flex-direction column
    background-color $white

  svg
    margin-right 56px

    +iphone()
      margin 0 0 64px

    &:last-child
      margin 0
