.betteryet-page .header-section
  +alliphones()
    .navigation-bar
      position absolute
      padding 40px

      .bar-content
        padding 32px 32px 0

    .mobile
      width 80vw
      position absolute

    .betteryet-title
      position absolute
      bottom 10px

      svg
        height auto
        width 90vw

  .mobile-container
    img.mobile
      +alliphones()
        width 309px
        height 415px
