@import '~styles/config.styl'

.landing-v2 .services-section
  background-color $dark-blue
  display flex
  flex-direction column
  align-items center

  .services-heading
    color $white
    font-size $section
    font-family "Roboto Mono", sans-serif
    font-weight $light-weight
    text-transform uppercase
    padding 145px 0
