.header
  +iphone5()
    padding 30px

  .content .content-info
    .heading .sub-title:before
      +iphone5()
        width 24px

    .paragraph
      +iphone5()
        line-height 1.8

    .title
      +iphone5()
        font-size 20px
        line-height 1.4

