.header
  +alliphones()
    padding 40px
    background url(/images/main-art-mobile@2x.png) center bottom no-repeat, linear-gradient(-180deg, rgba(0,84,255,0.00) 0%, rgba(0,77,255,0.10) 100%)
    background-size 100% auto

  .content
    +alliphones()
      padding 0
      width 100%
      display block

    .content-info
      +alliphones()
        width 100%
        display block
        margin-top 16px

    .heading
      +alliphones()
        margin 40px 0 20px 0

    .sub-title:before
      +alliphones()
        width 30px

    .paragraph
      +alliphones()
        opacity 0.6
        line-height 2

    .title
      +alliphones()
        font-size 21px
        line-height 1.5
        margin-bottom 16px

    .buttons
      alliphonesDisabled()

