.heading
  font-family "Roboto Mono", sans-serif
  margin-bottom 30px

  .sub-title
    display flex
    align-items center
    margin-bottom 16px
    color $gray
    font-size 12px
    font-weight 500
    line-height 12px
    letter-spacing 4px
    text-transform uppercase

    &:before
      content ''
      display block
      height 1px
      width 40px
      margin-right 12px
      background $gray

  .title
    font-size 32px
    line-height 42px