.logo-section
  display flex
  justify-content center
  align-items center
  height 720px

  +iphone()
    height 100vh

  +iphone5()
    height 100vh

  .logo-bg
    position absolute

    svg:last-child
      display none