+iphone()
  .step
    margin-top 24px
    display block
    width 100%

    &:first-child
      margin-top 40px

    .step-header
      .number
        .line
          width 42px

      .filler
        width 42px

    .step-desc
      width 100%
      margin 0
      padding 20px 40px 0

+iphone5()
  .step
    margin-top 20px
    display block
    width 100%

    &:first-child
      margin-top 36px

    .step-header
      .number
        .line
          width 36px

      .filler
        width 36px

    .step-desc
      width 100%
      margin 0
      padding 24px 36px 0