+iphone()
  .step
    margin-top 24px
    display block
    width 100%

    +iphone5()
      margin-top 20px

    &:first-child
      margin-top 40px

    .step-header
      .number .line, .filler
        width 42px

        +iphone5()
          width 36px

    .step-desc
      width 100%
      margin 0
      padding 24px 40px 0

      +iphone5()
        padding 20px 36px 0
