@import "~styles/config.styl"

.button
  display flex
  justify-content center
  button
    outline none
    font-size 20px
    line-height 28px
    letter-spacing 0.14px
    padding 10px 40px
    border 10px solid #F9F9F9
    background-color $white
