@import "~styles/config.styl"

.work
  display flex
  flex-direction column
  margin 234px auto 0

  .work-list
    display flex
    justify-content space-around
    align-items center
    height calc(100vh - 92px)
    background url("~images/services-bg.png") no-repeat center
    background-size cover
