@import '~styles/config.styl'

.lpma-page
  .contact-us-form
    caret-color white

    .section-heading
      .sub-title
        font-family Rubik
        color #FFFFFF

      .title
        font-family Rubik
        font-weight $medium-weight
        color #FFFFFF

    form
      .form-raw input
        background-color #4E595D
        color #FFFFFF

        &::placeholder
          color #AAADB2

        &:focus
          background-color #69797F
          border 2px solid #6EBF56


      textarea
        background-color #4E595D

        &:focus
          background-color #69797F
          border 2px solid #6EBF56

      .form-btn
        color #6EBF56

      .button-hover-text
        background-color #6EBF56
        box-shadow 0 4px 16px 0 rgba(110,191,86,0.25)

      .button-icon
        background-color #6EBF56

