.lpma-page
  .contact-us-form
    caret-color white

    .section-heading
      .sub-title
        font-family Rubik

      .title
        font-family Rubik
        font-weight $medium-weight

    form
      .form-raw input
        background-color #4E595D
        color #FFFFFF

        &::placeholder
          color #AAADB2

        &:focus
          background-color #69797F
          border 2px solid $green

      textarea
        background-color #4E595D

        &:focus
          background-color #69797F
          border 2px solid $green

      .form-btn
        color $green

      .button-hover-text
        background-color $green
        box-shadow 0 4px 16px 0 rgba(110,191,86,0.25)

      .button-icon
        background-color $green
