.services-page
  .fullpage-wrapper
    .section
      .fp-tableCell
        position relative
        top 80px
        vertical-align top

    .sc-section
      .service-cards-heading
        position relative
        top 80px
        padding 0 8% 0 10%
        font-size 6.9vw
        font-weight bold
        margin 0 0 12px 0

      .service-cards-description
        position relative
        top 80px
        font-size 4vw
        color #4A4A4A
        line-height 30px
        margin 0 0 12px 0
        padding 0 8% 0 10%

      .fp-slides
        height 72%
        position relative
        top 0

  .fp-slidesNav
    bottom 10px
    width 100px
    text-align center

    ul li
      a span
        height 6px !important
        width 6px !important
        margin -6px 0 0 -6px
        background-color #979797
      a.active span
        background-color #5C64AA

.fp-viewing-3
  .fp-slidesNav
    bottom 80px
  .services-page
    .mobile-header
      z-index 0
      transition z-index 0s
      transition-delay 0.35s
    .fp-tableCell
      top 0 !important
