+iphone()
  .section-heading
    .sub-title
      font-size 14px
      line-height 19px

    .title
      font-size 28px
      line-height 37px
      letter-spacing 6px

+iphone5()
  .section-heading
    .sub-title
      font-size 12px
      line-height 17px

    .title
      font-size 24px
      line-height 33px
      letter-spacing 6px
