.white-paper
  display flex
  justify-content center
  background-color white

  .paper-width
    max-width 635px

    .contact-us-form
      .section-heading
        +iphone()
          padding-top 80px
