.lpma-page
  .illustrations-section
    display flex
    justify-content center
    align-items center
    height 720px
    +iphone()
      height 100vh
      justify-content flex-end
    +iphone5()
      height 100vh
      justify-content flex-end

    .illustration-image
      width 1028px
      height 378px
      iphoneDisabled()
      iphone5Disabled()

    .illustration-image-mobile
      display none
      +iphone()
        width 362px
        height 490px
        display inline
      +iphone5()
        width 320px
        height 460px
        display inline