.lpma-page .illustrations-section
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-content flex-start
  margin-bottom 128px

  .illustrations-image img
    width 79.2vw
