.lpma-page .illustrations-section
  display flex
  align-items center
  height 100vh

  .mac-parallax
    left 50%
    position absolute
    transform translateX(-50%)

    img.left-mac
      width 700px
      transform translateY(30px) translateX(-200px)

    img.right-mac
      width 584px
      transform translateY(-30px) translateX(200px)

    .illustration-image-mobile
      display none
      +iphone()
        width 362px
        height 490px
        display inline
      +iphone5()
        width 320px
        height 460px
        display inline
