@import '~styles/config.styl'

.service-description
  width 500px
  margin 0 70px

  +iphone()
    width: 100%
    margin: 0 0 40px

  .heading
    color $white

    .title

      +iphone()
        font-size: 21px
        line-height: 1.5

  .paragraph
    color $light-gray
