.design
  width 100vw
  position absolute
  top 0
  z-index 0
  opacity 0.5

.team-page
  .team-bg
    width 100vw
    position absolute
    overflow hidden

    .team-chat
      margin-left 56.7vw
      margin-top 31vh

  .team-content
    margin-top 15vh
    width 80vw

    .team-heading
      font-size 2.9vw
      margin 0

    .team-description-text
      margin-top 2.4vh
      width 40vw
      font-size 1.5vw
      line-height 4.8vh
      opacity 0.8
      letter-spacing normal

      &.bold
        font-weight bold

  .team-members-cards
    margin 20vh 0
    width 80vw

    .card-row
      display flex
      flex-direction row
      justify-content space-between

      .team-member
        width 28%
        padding 5vh 1vw 3vh 1vw
        border-radius 9px
        box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.1)
        display flex
        flex-direction column
        align-items center

        .member-photo
          margin 0 0 1vh 0
          height 13vw
          width 13vw
          background-color #bbb
          border-radius 50%
          display inline-block

        .member-content
          display flex
          flex-direction column
          align-items center

          .member-name
            font-family Montserrat
            font-size 1.65vw
            margin-bottom 0

          .member-position
            margin 1vh
            font-size 1.25vw
            color #5C64AA

          .member-separator
            width 4vw
            border 0.55px solid #5C64AA

          .member-text
            margin-top 1vh
            text-align center

            .member-para
              margin 1vh 0
