.design
  width 100vw
  position absolute
  top 0
  z-index 10
  opacity 0.5

.team-page
  .team-bg
    width 100vw
    position absolute
    overflow hidden

    .team-chat
      margin-left 56.7vw
      margin-top 31vh

  .team-content
    margin-top 15vh
    width 80vw

    .team-heading
      font-size 2.9vw
      margin 0

    .team-description-text
      margin-top 2.4vh
      width 40vw
      font-size 1.5vw
      line-height 4.8vh
      opacity 0.8
      letter-spacing normal

      &.bold
        font-weight bold

  .team-members-cards
    margin 16.94vh 0
    width 80vw

    .card-row
      display flex
      flex-direction row
      justify-content space-between
      margin-bottom 10.276vh

      .team-member
        float left

      &.last-row
        width 51.5vw
