.team-page
  .team-bg
    width 100vw
    position absolute
    overflow hidden

    .team-chat
      margin-left 56.7vw
      margin-top 4vh

  .team-content
    margin-top 15vh
    width 45vw

  .team-members-cards
    margin-top 10vh

    .card-row
      display flex
      flex-direction row
      flex-wrap wrap
      justify-content center
      margin-bottom 10.276vh

      .team-member
        margin 25px
        min-width 250px
        float left
        width 25%

      &.last-row
        width 51.5vw
