.case-studies-section
  position relative
  height calc(100% - 80px)
  width 100%
  padding 0 8% 32px 10%
  overflow hidden

  .case-studies-heading
    font-size 6.9vw
    font-weight bold
    margin 0 0 22px 0

  .case-studies-description
    height 100%

    .case-studies-screen-scroll
      display none
      height auto
      flex-direction row
      overflow-x scroll

      img
        width auto
        max-height 320px

      +iphone5()
        img
          width auto
          max-height 250px

    .project-name
      font-size 5.3vw
      font-weight bold
      margin 0

    .project-description
      font-size 4vw
      color #4A4A4A
      margin 0

    .project-details-link
      width max-content
      display flex
      align-items center
      font-size 4vw
      font-weight bold
      color #5C64AA
      text-decoration none
      text-transform uppercase
      margin-top 16px

      svg
        margin-left 20px


  +iphone5()
    .case-studies-heading
      margin 0 0 12px 0
      font-size 6.5vw

    .case-studies-description
      .project-name
        font-size 4.9vw
      .project-description, .project-details-link
        font-size 3.6vw
