+iphone()
  .colors-section
    height 100vh
    display block
    padding 0

    .colors-parallax
      height 100%

      .parallax-inner
        height inherit

    .colors
      display block
      height inherit

      .color
        width 100% !important

        &:first-child
          border-radius 0

        &:last-child
          border-radius 0

+iphone5()
  .colors-section
    height 100vh
    display block
    padding 0

    .colors-parallax
      height 100%

      .parallax-inner
        height inherit

    .colors
      display block
      height inherit

      .color
        width 100% !important

        &:first-child
          border-radius 0

        &:last-child
          border-radius 0