.colors-section
  +iphone()
    height 100vh
    display block
    padding 0

    .colors-parallax
      height 100%

      .parallax-inner
        height inherit

    .colors
      display block
      margin 40px 0
      height inherit

      .color
        border-radius 0
        width 100% !important

        &:first-child, &:last-child
          border-radius 0
