@import "~styles/config.styl"

.betteryet-page .contact-us-form
  color $white

  .button-icon
    background-color $yellow

  .button
    color $yellow
    border none

    .button-hover-text
      background-color $yellow

  .input:focus, .text-area:focus
    border 2px solid $yellow
