+iphone()
  .booqed-page
    .header-section
      margin 0
      .mobile-container
        width 100%
        .techstars-badge
          top 5px
        .laptop
          height auto
          width 500px
          padding-left 16px

    .navigation-bar
      height 100vh
      padding 40px

+iphone5()
  .booqed-page
    .header-section
      margin 0
      .mobile-container
        width 100%
        .laptop
          height auto
          width 400px
          padding-left 16px

    .navigation-bar
      height 100vh
      padding 40px

