.loader-page
  position absolute
  width 100%
  height 100vh
  overflow hidden
  display block

  .loader
    position absolute
    overflow hidden
    height 100vh
    width 100%
    z-index 15
    display flex
    align-items center
    justify-content center
    animation shadeOut .8s ease-in-out forwards
    animation-delay 1.4s
    background-color $white

    svg
      animation scaleLogo .6s ease-in-out forwards
      animation-delay .6s
      z-index 18

    .light-shade, .shade
      position absolute
      top 0
      height 100vh
      width 100%

    .light-shade
      z-index 16
      height 3px
      animation shade 1.4s ease-in-out forwards
      background-color $blue

    .shade
      z-index 17
      animation shadeBottom 2s ease-in-out forwards
      animation-delay .4s
      transform translateY(-100%)
      background-color #060B18

@keyframes shade
  0%
    height 3px

  100%
    height 100vh

@keyframes scaleLogo
  0%
    transform scale(0.6)

  100%
    transform scale(1.2)

@keyframes shadeBottom
  0%
    transform translateY(-100%)

  50%
    transform translateY(0)

  100%
    transform translateY(100%)

@keyframes shadeOut
  0%
    transform translateY(0)

  99%
    height 100vh
    transform translateY(100%)

  100%
    height 0
