@import '~styles/config.styl'

.loader-page
  display flex
  justify-content center
  align-items center
  height 100vh
  width 100%
  z-index 15
  background-color $white
  position absolute
  animation shadeOut .8s ease-in-out forwards
  animation-delay 2s

  svg
    animation scaleLogo .6s ease-in-out forwards
    animation-delay 1.2s
    z-index 18

  .light-shade, .shade
    position absolute
    top 0
    height 100vh
    width 100%

  .light-shade
    z-index 16
    height 3px
    animation shade 1.8s ease-in-out forwards
    background-color $blue

  .shade
    z-index 17
    animation shadeBottom 2s ease-in-out forwards
    animation-delay 1s
    transform translateY(-100%)
    background-color #060B18

@keyframes shade
  0%
    transform translateX(-100%)

  30%
    transform translateX(-70%)

  50%
    height 3px
    transform translateX(0)

  100%
    height 100vh
    transform translateX(0)

@keyframes scaleLogo
  0%
    transform scale(0.6)

  100%
    transform scale(1.2)

@keyframes shadeBottom
  0%
    transform translateY(-100%)

  50%
    transform translateY(0)

  100%
    transform translateY(100%)

@keyframes shadeOut
  0%
    transform translateY(0)

  100%
    transform translateY(100%)
