.hub-page .prototypes-section
  display flex
  justify-content space-between
  align-items center
  height 720px
  max-width 1160px
  margin 0 auto

  .prototype
    img
      width 227px
      height 460px

    &:nth-child(2)
      img
        width 283px
        height 574px
