.lpma-page
  .illustrations-section
    +iphone()
      height calc(var(--vh, 1vh) * 100)
      justify-content flex-end

    .illustration-image
      iphoneDisabled()

    .illustration-image-mobile
      +iphone()
        width 362px
        height 490px

      +iphone5()
        width 320px
        height 460px
        display inline
