+alliphones()
  .clients .content
    .middle
      padding 24px 0
      width 100vw

    .client-footer .client-overview .comment
      font-size 21px
      line-height 28px

    .project-details-btn
      margin 0
