.lpma-page
  overflow hidden
  background-color #464F53

  .white-paper
    +iphone()
      background linear-gradient(white, #DFE8F7)
    +iphone5()
      background linear-gradient(white, #DFE8F7)
    .paper-width .footer
      display none

      +iphone()
        display block
        background-color transparent

      +iphone5()
        display block
        background-color transparent

  >.footer
    iphoneDisabled()
    iphone5Disabled()