.booqed-page .header-section
  position relative
  display flex
  align-items center
  justify-content center
  height 100vh

  .mobile-container
    width 100%
    text-align center
    .techstars-badge
      height 150px
      width auto
      position absolute
      right 0
      top 25%

    .laptop
      width 40%
      height auto

  .logo
    position absolute
    bottom 0

  .consultation-link
    white-space nowrap
    color #3F9DD1
    border 2px solid #3F9DD1
    &:hover
      color white
      background #3F9DD1

