.intro-page
  height 100vh

  .intro-top-bar
    padding: 24px 0
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 3

  .intro-content
    height: 100vh
    display flex
    justify-content center
    flex-direction column
    position: relative
    z-index: 2

    .intro-bg-container
      position: absolute
      right: 0
      z-index 1
      width: 50%
      top: 50%
      transform translateY(-50%)

    .intro-header
      position: relative
      z-index: 2

    .intro-text
      margin: 0 0 40px
