+iphone()
  .intro-page
    .intro-top-bar
      padding: 10vw 0

    .intro-content
      justify-content flex-end
      padding-bottom: 10vw

      .btn
        width: 100%

      .intro-bg-container
        margin-bottom: 48px
        position: relative
        right: 0
        width: 100%
        top: 0
        transform translateY(0)

      +iphone5()
        margin-bottom: 24px

      svg
        display: block
        width: 100% !important
        height auto !important

    .intro-content
      .intro-text
        margin-bottom: 24px
