.team-page
  .fullpage-wrapper
    .section
      .fp-tableCell
        position relative
        top 80px
        vertical-align top

.fp-viewing-7
  .team-page
    .mobile-header
      z-index 0
      transition z-index 0s
      transition-delay 0.35s
    .fp-tableCell
      top 0 !important
