.client-footer
  +iphone5()
    margin-top 20px

  .client-overview
    +iphone5()
      width 270px

  .buttons .full-review-btn, .project-details-btn
    .button-hover-text
      +iphone5()
        width 30px
        height 30px

    .button-icon
      +iphone5()
        width 30px
        height 30px
