@import "~styles/config.styl"

.by-description
  display flex
  height 100vh

  .by-description-content
    display flex
    flex 1
    justify-content space-between
    align-self center
    margin 0 124px

