@import '~styles/config.styl'

.navigation-bar
  display flex
  justify-content flex-end
  max-width 1432px
  margin 32px auto 0px

  .links
    display flex
    justify-content space-between
    width 294px

    a
      color $black
      font-size $small
      line-height $small-height
      text-decoration none
