.page-404-illustration
  width 573px
  height 550px
  position relative
  iphoneDisabled()

  .parallax
    position absolute

    &.cloud
      left 33px
      top 27px

    &.cloud2
      top 139px
      right 5px

    &.banner
      z-index 1
      left 138px

    &.woman
      z-index 2
      right 181px
      bottom 0

    &.first-plant
      left 8px
      bottom 95px

    &.second-plant
      left 76px
      bottom 115px

    &.first-tree
      right 147px
      bottom 131px

    &.second-tree
      right 33px
      bottom 110px

  .illustration
    &.cloud
      width 268px
      height 142px
      background url(/images/404/cloud2@2x.png)
      background-size @width @height

    &.cloud2
      width 264px
      height 142px
      background url(/images/404/cloud@2x.png)
      background-size @width @height

    &.woman
      width 274px
      height 383px
      background url(/images/404/woman@2x.png)
      background-size @width @height

    &.banner
      width 350px
      height 284px
      background url(/images/404/banner@2x.png)
      background-size @width @height

    &.first-plant
      width 95px
      height 155px
      background url(/images/404/first-plant@2x.png)
      background-size @width @height

    &.second-plant
      width 117px
      height 192px
      background url(/images/404/second-plant@2x.png)
      background-size @width @height

    &.first-tree
      width 62px
      height 158px
      background url(/images/404/first-tree@2x.png)
      background-size @width @height

    &.second-tree
      width 91px
      height 232px
      background url(/images/404/second-tree@2x.png)
      background-size @width @height
