+iphone()
  .betteryet-page .illustration-section
    height 50vh
    margin 32px 0

    .notebook-illustration
      img
        height 350px

+iphone5()
  .betteryet-page .illustration-section
    height 65vh
    margin 32px 0