+iphone()
  .betteryet-page .illustration-section
    height 100vh

    .left-notebook-illustration
      display none

    .right-notebook-illustration
      img
        height 346px
        width 327px

+iphone5()
  .betteryet-page .illustration-section
    height 100vh

    .left-notebook-illustration
      display none

    .right-notebook-illustration
      img
        height 320px
        width 300px
