* {
  box-sizing: border-box;
}

.case-studies-page
  .header
    margin-top 0
    padding-bottom 2vh

  .case-studies-heading
    margin 0 auto
    font-size 3vw
    width 80vw
    margin-top 4vh

  .case-studies-content
    height 75vh
    overflow-y scroll
    margin-bottom 14vh
    -webkit-overflow-scrolling touch
    -webkit-scroll-snap-type mandatory
    scroll-snap-type y mandatory

    .case-study
      height 75vh
      scroll-snap-align start
      padding-top 2vh
      margin 0

      .case-study-bg
        padding-bottom 8vh
