@import "~styles/config.styl"

.section-heading
  cursor default
  display flex
  align-self center
  align-items center
  margin 0
  height 92px
  font-size: $section
  font-weight $regular-weight
  line-height 48px
  background: url("../../images/section-heading-bg.png") no-repeat center;
  transition all .1s ease-in

  &:hover
    transform scale(1.1) rotate(-1deg)
