@import "~styles/config.styl"

.section-heading
  display flex
  align-self center
  align-items center
  margin 0
  height 92px
  font-size: $section-heading
  font-weight $regular-weight
  line-height $section-heading-height
  background: url("../../images/section-heading-bg.png") no-repeat center;

