+iphone()
  .service-description
    width 100%
    margin 0 0 40px

    .heading .title
      font-size 21px
      line-height 1.5

+iphone5()
  .service-description
    width 100%
    margin 0 0 40px

    .heading .title
        font-size 20px
        line-height 1.4