.mobile-consult-page
  .form-section
    position relative
    height 100%
    width 100%
    padding 0 8% 0 10%
    overflow hidden
    display flex
    flex-direction column
    justify-content center

    .form-heading
      font-size 3.9vw
      font-weight bold
      margin 0 0 22px 0
      padding-right 33%

    form
      display flex
      flex-direction column

      .input
        width 100%
        height 40px
        padding 16px
        outline none
        border none
        border-radius 8px
        background-color $marble
        -webkit-box-shadow inset 0 1px 0 0 rgba(0, 0, 0, 0.03)
        -moz-box-shadow inset 0 1px 0 0 rgba(0, 0, 0, 0.03)
        box-shadow inset 0 1px 0 0 rgba(0, 0, 0, 0.03)

      .input-textarea
        height 80px
        width 100%
        padding 16px
        background-color #f2f3f5
        border-radius 8px
        border none

      .input-textarea::placeholder, .input::placeholder
        color #AAADB2

      .input-label
        color #5c64aa
        font-size 3.7vw
        line-height 19px
        font-weight 600
        margin 18px 0 10px 0

      .submit-button
        margin 18px 0 0 0
        align-self center
        background #FF5551
        border-radius 32px
        border none
        font-weight bold
        font-size 4.8vw
        color #FFFFFF
        letter-spacing 1.8px
        text-align center
        padding 15px 48px

    +iphone5()
      .form-heading
        margin 0 0 12px 0
        font-size 3.9vw
