.lpma-page
  +iphone()
    .white-paper
      background linear-gradient(white, #DFE8F7)

      .paper-width .footer
        display block
        background-color transparent

    >.footer
      iphoneDisabled()
