+iphone()
  .impact-page
    overflow auto
    scroll-snap-type y mandatory
    display flex
    flex-direction column
    height 100%

    .impact-content
      scroll-snap-align start
      flex-shrink 0
      width 100%
      height 100vh
      margin 5.9% 0 0 0
      padding 16vh 0 0 0
      overflow hidden

      .impact-bg
        width 100vw
        flex 1 0 auto
        position relative
        top 81vh
        display flex
        height 30vh
        margin-top -30vh
        z-index 0

        .impact-svg
          margin 0
          flex 1 0 auto
          width 93vw
          height 30vh

      .impact-heading
        width 100%
        font-size 6.93vw
        line-height 30pt
        padding 0 10%

      .impact-description
        width 100%
        font-size 4vw
        padding 0 10%
        margin-top 2vh

        &:first-child
          margin-top 3.39vh
