.button
  +iphone()
    &:hover .button-hover-text span
      display none

    .button-title
      z-index 3
      color white
      padding-left 20px
      margin 0 !important

    .button-hover-text
      width 100% !important