+iphone()
  .betteryet-page
    .logo-icon
      display none

    .navigation-bar.opened
      background $betteryetYellow

      .links a
        color white

    .menu-icon svg, .close-menu-icon svg, .social-links svg
      fill white
