@import "~styles/config.styl"

.step
  display flex
  flex-direction column
  flex 1

  .step-line
    width 100%

  .step-desc
    display flex
    flex-direction column
    margin-top 22px
    width 410px

    div:first-child
      margin-bottom 12px
      font-size 24px
      line-height 40px

    div:last-child
      opacity 0.6
      line-height 32px
