+iphone()
  .communihelp-page .header-section
    .navigation-bar
      height 100vh
      padding 40px

      &.opened
        background #F47883

      .links a
        color white

    .communihelp-title
      display none

    .menu-icon svg,
    .close-menu-icon svg,
    .social-links svg
      fill white

    .mobile-container img.mobile
      width 400px
      height 250px
      transform rotate(-45deg)


+iphone5()
  .communihelp-page .header-section
    .navigation-bar
      padding 30px

    .mobile-container img.mobile
      width 400px
      height 250px
      transform rotate(-45deg)
