+iphone()
  .communihelp-page .header-section
    .navigation-bar
      position absolute
      padding 40px

    .communihelp-title
      font-size 50px

      &.opened
        background $hubGreen

        .links a
          color white

    .menu-icon svg,
    .close-menu-icon svg,
    .social-links svg
      fill white

    .mobile-container img.mobile
      width 400px
      height 250px
      transform rotate(-45deg)


+iphone5()
  .communihelp-page .header-section
    .navigation-bar
      padding 30px

    .mobile-container img.mobile
      width 400px
      height 250px
      transform rotate(-45deg)
