@import '~styles/config.styl'

.service-description
  width 500px
  margin 0 70px

  .service-title
    display flex
    align-items center
    color $gray
    text-transform uppercase
    font-size 12px
    letter-spacing 4px
    font-family "Roboto Mono", sans-serif

    .title-line
      width 45px
      height 1px
      margin-right 12px
      background-color $gray

  .service-subtitle
    color $white
    font-size 32px
    font-family "Roboto Mono", sans-serif
    margin-top 12px

  .service-text
    margin-top 28px
    color $light-gray
    line-height 32px
