+iphone()
  .client-footer
    width 100%
    margin 24px 0 40px
    flex-direction column
    align-items center

    .client-overview
      width 294px
      margin 24px 0 0

      .name, .position
        text-align center

      .comment
        margin 24px 0
        text-align center
        font-size 24px
        line-height 32px

    .buttons
      justify-content center

      .full-review-btn, .project-details-btn
        .button-hover-text
          width 32px
          height 32px

        .button-icon
          width 32px
          height 32px

      .full-review-btn
        display none

      .project-details-btn
        margin 0

+iphone5()
  .client-footer
    width 100%
    margin 20px 0 40px
    flex-direction column
    align-items center

    .client-overview
      width 270px
      margin 24px 0 0

    .buttons
      .full-review-btn, .project-details-btn
        .button-hover-text
          width 30px
          height 30px

        .button-icon
          width 32px
          height 32px

      .full-review-btn
        display none

      .project-details-btn
        margin 0