+iphone()
  .hub-page .header-section
    .navigation-bar
      padding 40px

      &.opened
        background $hubGreen

        .links a
          color white

    .menu-icon svg,
    .close-menu-icon svg,
    .social-links svg
      fill white

    .mobile-container img.mobile
      width 155px
      height 415px

+iphone5()
  .hub-page .header-section
    .navigation-bar
      padding 30px

    .mobile-container img.mobile
      width 147px
      height 392px
