.header
  display flex
  align-items center
  justify-content space-between
  position fixed
  top 0
  width 100vw
  padding 2%

  .header-nav
    list-style-type none
    display flex
    flex-direction row

    .header-nav-item
      margin 0 1vw

