.header
  background-color white
  display flex
  align-items center
  position sticky
  top 0
  margin-top 6vh
  width 100vw
  padding 4vh 0 4vh 0
  z-index 3

  .header-logo
    margin-left 9.85%

  .header-nav
    list-style-type none
    display flex
    flex-direction row
    margin-left 20.05%

    .header-nav-item, a
      text-decoration none
      color black
      margin 0 1.9vw
      font-size 1.13vw
      letter-spacing 0.88pt

  .header-button
    margin-left 3.9%
    padding 1.55% 2.5%
    font-size 1.4vw
    letter-spacing 1.8pt
    line-height 23pt

