.fintech-logos-container
  margin-top 1.8%
  width 100vw
  display flex
  align-items center

  .logo
    height 23.5vh
    display flex
    align-items center
    background-color #F7F9FC
    padding-right 3.8vw
    padding-left 3.1vw
    transition all .2s ease-in-out

    &:hover
      background-color white
      transform scale(1.05)
      box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.1)
