.process
  +alliphones()
    padding 64px 0
    max-width 100%
    width 100%
    margin-top 0

  .description
    .row
      +alliphones()
        display block
        margin-top 0

      &:first-child
        +alliphones()
          margin-top 0
