+iphone()
  .betteryet-page
    .white-paper
      background linear-gradient(white, #DFE8F7)
      .paper-width  .footer
        display block
        background-color transparent

    >.footer
      display none

+iphone5()
  .betteryet-page
    .white-paper
      background linear-gradient(white, #DFE8F7)
      .paper-width  .footer
        display block
        background-color transparent

    >.footer
      display none