.service
  display flex
  margin-bottom 200px

  &:last-child
    margin-bottom 160px

  .service-icons
    display grid
    grid-template-columns 1fr 1fr
    grid-gap 70px

    .service-icon
      align-items center
      display flex
      flex-direction column

      .icon-title
        margin-top 20px
        text-transform uppercase
        color $gray
        font-size $small
        font-family "Roboto Mono", sans-serif
        letter-spacing 2px
        white-space nowrap
