.betteryet-page .prototypes-section
  +alliphones()
    height 100vh
    justify-content center

    .prototype
      display none

      &:first-child
        display block

      img
        width 283px
        height 574px
