+iphone()
  .lpma-logo-bg
    width 283px
    height 280px

  .lpma-logo
    width 276px
    height 274px

+iphone5()
  .lpma-logo-bg
    width 283px
    height 280px

  .lpma-logo
    width 154px
    height 102px