.colors-section
  .colors-parallax
    +alliphones()
      height 100%

      .parallax-inner
        height inherit

  +alliphones()
    height 100vh
    display block
    padding 0

  .colors
    +alliphones()
      display block
      height inherit

    .color
      +alliphones()
        width 100% !important

      &:first-child, &:last-child
        +alliphones()
          border-radius 0
