.betteryet-page .about-section
  margin-top 120px
  font-family Quicksand

  .section-name
    color $white

  .about-section-background
    fill #93BBD8

  .desc
    ul li
      color #FFDF4A

    .service-description .sub-title, .short-description .title
      color $betteryetYellow

      &:before
        background $betteryetYellow
