.betteryet-page .about-section
  font-family Quicksand, sans-serif

  .section-name
    color white

  .about-section-background
    fill #93BBD8

  .desc
    .service-description .sub-title, .short-description .title
      color $betteryetYellow

      &:before
        background $betteryetYellow
