.betteryet-page .about-section
  margin-top 120px
  font-family Quicksand

  .section-name
    color $white

  .desc
    font-style italic

    ul li
      color #FFDF4A

  .logo
    display flex
    justify-content center
    margin-top 120px
