.team-member-wrapper
  height calc(100% - 80px)
  padding 4% 8% 0% 10%
  display flex
  flex-direction column
  justify-content center

  .team-member-card
    height 100%
    text-align center
    box-shadow 0 2px 40px 0 rgba(0,0,0,0.20)
    border-radius 10px
    padding 22px
    display flex
    flex-direction column
    align-items center
    justify-content space-between

    img
      height 120px
      width 120px
      border-radius 50%

    .separator
      height 1px
      width 64px
      margin 4px 0
      background-color #5c64aa

    .team-member-name
      font-size 5.6vw
      font-weight 600
      margin 0

    .team-member-title
      font-size 4.2vw
      color #5c64aa
      margin 0

    .team-member-phrase
      font-size 3.4vw
      color #666
      margin 0

