@import "~styles/config.styl"

.form-text-area
  textarea
    display flex
    flex 1
    resize none
    outline none
    padding 12px 20px
    border 1px solid $snow
    color $nobel
    font-size $small
    line-height $small-height
    letter-spacing 0.1px
    background-color $snow



