.scroll-to-top-btn-icon
  cursor pointer
  boxShadow 0 5px 27px 0 rgba(0,0,0, .05)
  backgroundColor #F9F9F9
  width 52px
  height 52px
  borderRadius 26px
  alignItems center
  justifyContent center
  display flex
