.scroll-to-top-btn-icon
  display flex
  align-items center
  justify-content center
  cursor pointer
  width 48px
  height 48px
  border-radius 24px
  -webkit-box-shadow 0 2px 5px 0 rgba(0, 94, 255, 0.3)
  -moz-box-shadow 0 2px 5px 0 rgba(0, 94, 255, 0.3)
  box-shadow 0 2px 5px 0 rgba(0, 94, 255, 0.3)
  background-color $blue

.logo
  +iphone5()
    width 40px
    height 40px