#far-turbine
  animation spin-far 8s infinite linear

#close-turbine
  animation spin-close 12s infinite linear

@keyframes spin-far {
  from {
    transform rotate(0deg)
    transform-origin 8.98058% 14.576185278396437%
  }
  to {
    transform rotate(360deg)
    transform-origin 8.98058% 14.576185278396437%
  }
}

@keyframes spin-close {
  from {
    transform rotate(0deg)
    transform-origin 11.590323251533742% 18.824211069042316%
  }
  to {
    transform rotate(360deg)
    transform-origin 11.590323251533742% 18.824211069042316%
  }
}
