.home-page
  .fullpage-wrapper
    .section
      .fp-tableCell
        position relative
        top 80px
        vertical-align top

.fp-viewing-3
  .home-page
    .mobile-header
      z-index 0
    .fp-tableCell
      top 0 !important

//.footer-section
//  z-index 2
//  .fp-tableCell
//    top 0
