.services-dream-section
  z-index 1
  display flex
  flex-direction column
  align-items center
  margin-top 32px
  width 100vw
  background-color #F7F9FC
  padding 64px 0

  .services-dream-heading
    width 80vw

  .services-dream-text-mobile
    display none

  .services-dream-blocks
    margin-top 1.5vh
    width 80vw

    .service-blocks-wrapper
      width 100%
      display flex
      flex-direction row
      align-items center
      justify-content space-between

      .block-wrapper
        width 33%
        height 100%

        .service-block
          padding 4vh 2.8vw
          border-radius 9px
          transition all .2s ease-in-out

          &:hover
            background-color white
            box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.1)
