.about-section
  +iphone()
    height 100%
    padding 40px
    justify-content flex-start

    +iphone5()
      padding 36px

    .about-section-background
      iphoneDisabled()

    .desc
      flex-direction column

      .service-description .heading
        margin 32px 0 16px

        +iphone5()
          margin 30px 0 14px
