+iphone()
  .about-section
    height 100%
    padding 40px
    justify-content flex-start

    .desc
      flex-direction column

      .service-description .heading
        margin 32px 0 16px

+iphone5()
  .about-section
    height 100%
    padding 36px
    justify-content flex-start

    .desc
      flex-direction column

      .service-description .heading
        margin 30px 0 14px