.mobile-consult-page
  .mobile-header
    position static
  .mobile-opened-menu
    height 33.33%
  .fullpage-wrapper
    .section
      .fp-tableCell
        position relative
        vertical-align top

.fp-viewing-2
  .fp-slidesNav
    bottom 80px
  .mobile-consult-page
    .mobile-header
      z-index 0
      transition z-index 0s
      transition-delay 0.35s
    .fp-tableCell
      top 0 !important
