.contact-us-form
  +iphone5()
    padding 0 30px

  .section-heading
    +iphone5()
      padding-top 60px

  form
    .form-raw
      .input
        +iphone5()
          margin-bottom 10px

      .input:last-child
        +iphone5()
          margin 0 0 10px

  .footer
    .footer-details
      +iphone5()
        margin-bottom 30px
