@import "~styles/config.styl"

.work-item
  display flex
  flex 1
  justify-content center

  a
    color black
    text-decoration none

    span
      font-size $work
      line-height 58px

      &:last-child
        font-size 90px
        line-height 58px
