@import "~styles/config.styl"

.work-item
  display flex
  flex 1
  justify-content center

  span
    font-size 42px
    line-height 58px

    &:last-child
      font-size 90px
      line-height 58px
