@import "~styles/config.styl"

.work-item
  display flex
  flex 1
  justify-content center

  span
    font-size $work-item
    line-height $work-item-height

    &:last-child
      font-size 90px
      line-height $work-item-height
