@import "~styles/config.styl"

.superhero-page
  .projects-section
    display flex
    flex-direction column
    justify-content space-between
    height 100vh

    .title
      text-align center
      font-size 42px
      line-height 58px
      color #09CE95

    .projects
      display flex
      margin-top 108px

      .project
        display flex
        height calc(100vh - 166px)
        flex 1
        justify-content center
        align-items center
        background-color #464F53

        &:last-child
          background-color #FFDF4A

        span
          color $white
          font-size 42px
          line-height 58px

          &:last-child
            font-size 92px
