.header-illustration
  width 680px
  height 380px
  position relative
  margin-left auto
  iphoneDisabled()

  .parallax
    position: absolute

    &.cloud
      left 50%
      top -160px
      transform translateX(-50%)

    &.person
      z-index 2
      bottom 0
      left 60px

    &.plant
      z-index 5
      left 0
      bottom -40px

    &.message
      z-index 1
      top 0
      left 0

    &.laptop
      z-index 3
      bottom -20px
      right 0

    &.program
      z-index 2
      right 20px
      bottom 170px

  .illustration
    &.person
      width 381px
      height 313px
      background url(/images/person@2x.png)
      background-size: @width @height

    &.plant
      width 96px
      height 130px
      background url(/images/plant@2x.png)
      background-size @width @height

    &.message
      width 536px
      height 250px
      background url(/images/message@2x.png)
      background-size @width @height

    &.laptop
      width 133px
      height 205px
      background url(/images/laptop@2x.png)
      background-size @width @height

    &.program
      width 101px
      height 115px
      background url(/images/program@2x.png)
      background-size @width @height
