.animation-appear
  opacity: 0
  transform: translate(0, 10px)

.animation-appear.animation-appear-active
  transform: translate(0, 0)
  opacity: 1
  transition: opacity .5s ease-in, transform .5s ease-in-out
