+iphone()
  .partners
    padding 64px 0
    grid-gap 64px
    grid-template-columns repeat(1, 6fr)
    flex-direction column
    background-color white

+iphone5()
  .partners
    padding 58px 0
    grid-gap 58px
    grid-template-columns repeat(1, 6fr)
    flex-direction column
    background-color white