@import "~styles/config.styl"

.the-process
  display flex
  flex-direction column
  max-width 1280px
  margin 120px auto

  .description
    display flex
    flex-direction column

    .row
      display flex
      width: 100%
      margin-top 96px
