@import '~styles/config.styl'

.betteryet-page .header-section
  display flex
  align-items center
  justify-content center
  height 100vh
  margin 0 32px

  img.mobile
    width 491px
    height 658px
    position absolute

    +iphone()
      width 60%
      height: 45%
