@import '~styles/config.styl'

.betteryet-page .header-section
  display flex
  align-items center
  justify-content center
  height 100vh
  margin 0 32px

  .mobile-container
    position absolute
    z-index 1

    img.mobile
      width 491px
      height 658px

      +iphone()
        width 60%
        height: 45%
