+iphone()
  .step
    display block
    width 100%
    margin-top 24px
    padding 24px 40px 0

    .number
      .line
        &.last
          width 12%

    .info
      .paragraph
        width 100%

+iphone5()
  .step
    display block
    width 100%
    margin-top 24px
    padding 20px 36px 0

    .number
      .line
        &.last
          width 12%

    .info
      .paragraph
        width 100%