.home-page
  .home-content
    margin-top 9.8%
    width 100%
    padding 0 10% 34px 10%
    overflow hidden

    .home-bg
      width 100vw
      height 200vh
      position absolute
      overflow hidden
      top 0
      right 0
      z-index -1

      .vr-girl
        margin-left 62.34%
        margin-top 24%

    .home-heading-main
      margin 0
      font-weight bold
      line-height 53pt
      font-size 3.44vw
      width 55vw

    .home-description
      width: 60%

      &.expanded
        .expanded-text
          margin-bottom: 32px

  .home-help-section
    margin: 48px 0
    z-index 1

    h2
      width 80vw
      margin: 0 auto 32px

    .fintech-logos-container
      width 100vw
      display flex
      align-items center
      list-style: none
      margin: 0
      padding: 24px
      background-color #F7F9FC

      li
        position: relative
        z-index: 1
        height 200px
        text-align: center
        width: 100%
        display: flex
        align-items center
        justify-content center
        border-radius 12px
        transition all .2s ease-in-out

        &:hover
          background-color white
          z-index: 2
          box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.1)


  .home-case-studies
    display flex
    flex-direction column
    align-items center
    margin-top 9.5%
    overflow-x hidden

    .case-studies-heading
      margin 0 auto
      font-size 3vw
      width 80vw

    .case-studies-bg
      margin-top 4.5%
      background-color #F7F9FC
      width 100vw
      display flex
      flex-direction column
      align-items center
      padding-top 7.8vh
      padding-bottom 14vh
      position relative

      .case-studies-description
        width 80vw

        .case-studies-title
          font-size 1.8vw
          font-weight 600
          margin-bottom 0

        .case-studies-subtitle
          margin 1vh 0
          color #5C64AA
          font-size 1.22vw

        .case-studies-separator
          margin-top 4vh
          border 0.6pt solid #5C64AA
          width 5.5vh

        .case-studies-text
          font-size 1.15vw
          line-height: 2
          width 60vh
          letter-spacing 0.3pt

    .animated-button-container
      width 80vw
      margin-top 3.6vh
      display flex
      flex-direction row
      z-index 0

      .animated-button
        margin 0 8vw 0 0

    .screens-container
      position absolute
      right -6vw
      top -9.5vh
      display flex
      align-items center

      img
        max-width 16.40625vw

        &.phone-image
          max-width 19.765625vw


