.home-page
  .home-bg
    width 100vw
    position absolute
    overflow hidden

    .vr-girl
      margin-left 62.34%
      margin-top 24%

  .home-content
    margin-top 9.8%
    width 80%

    .home-heading-main
      margin 0
      font-weight bold
      line-height 53pt
      font-size 3.44vw
      width 55vw

    .home-description
      margin-top 3.5%
      opacity 0.8
      width 50vw
      max-height 30vh
      overflow hidden
      transition max-height 1s ease-in

      .home-description-text
        font-size 1.5vw
        line-height 4.8vh
        letter-spacing normal

        .description-more, a
          cursor pointer
          color #5C64AA
          text-decoration none

      &.expanded
        max-height 60vh

  .home-help-section
    margin-top 6.2%
    min-height 40vh
    display flex
    flex-direction column
    align-items center

    .home-help-heading
      font-size 3vw
      width 80vw

    .fintech-logos-container
      margin-top 1.8%
      width 100vw
      display flex
      align-items center

      .logo
        height 23.5vh
        display flex
        align-items center
        background-color #F7F9FC
        padding-right 3.8vw
        padding-left 3.1vw
        transition all .2s ease-in-out

        &:hover
          background-color white
          transform scale(1.05)
          box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.1);

  .home-case-studies
    display flex
    flex-direction column
    align-items center
    margin-top 9.5%

    .case-studies-heading
      margin 0 auto
      font-size 3vw
      width 80vw

    .case-studies-bg
      margin-top 4.5%
      background-color #F7F9FC
      width 100vw
      display flex
      flex-direction column
      align-items center
      padding-top 7.8vh
      padding-bottom 14vh
      position relative

      .case-studies-description
        width 80vw

        .case-studies-title
          font-size 1.8vw
          font-weight 600
          margin-bottom 0

        .case-studies-subtitle
          margin 1vh 0
          color #5C64AA
          font-size 1.22vw

        .case-studies-separator
          margin-top 4vh
          border 0.6pt solid #5C64AA
          width 5.5vh

        .case-studies-text
          font-size 1.15vw
          width 60vh
          letter-spacing 0.3pt
          line-height 3.8vh

    .animated-button-container
      width 80vw
      margin-top 3.6vh
      display flex
      flex-direction row

      .animated-button
        margin 0 8vw 0 0

    .screens-container
      position absolute
      right 30.5vw
      top -10vh


