.intro-section
  position relative
  height calc(100% - 80px)
  width 100%
  padding 0 8% 0 10%
  overflow hidden

  .intro-description-first, .intro-description-second
    font-size 4vw
    color #4A4A4A
    line-height 30px
    margin 0 0 22px 0

  .intro-description-second
    margin 0
    padding-right 25%

  .illustration
    z-index 0
    width 100%
    position absolute
    bottom 0
    margin-left 50%

    svg
      height 80%
      width 80%


  +iphone5()
    .intro-description-first, .intro-description-second
      margin 0 0 12px 0
      font-size 3.6vw
      line-height 20px
