.sub-title
  display flex
  align-items center
  margin-bottom: 12px

  &:before
    content: ''
    display block
    height: 1px
    width: 40px
    background: rgba(0, 0, 0, 0.4)
    margin-right: 12px

  .text
    font-family: RobotoMono-Regular
    font-size: 12px
    color: rgba(0, 0, 0, 0.4)
    letter-spacing: 4px
    line-height: 1
    text-transform: uppercase
