.colors-section
  display flex
  align-items center
  position relative
  height 495px
  padding 0 32px
  overflow hidden

  .colors-parallax
    z-index 1
    width 100%

  +iphone()
    padding 0

  .section-name
    color white

  .colors
    display flex
    max-width 1320px
    margin 0 auto
    flex-grow 1
    justify-content space-between
    z-index 1
    font-family Quicksand
    font-style Italic
    font-weight 700
    transform translateY(80px)
    box-shadow 0 2px 30px 0 rgba(0,0,0, .11)

    +iphone()
      flex-wrap wrap

    .color
      width 25%

      +iphone()
        width 100% !important

      &:first-child
        border-radius: 8px 0 0 8px;

        +iphone()
          border-radius: 0

      &:last-child
        border-radius: 0 8px 8px 0;

        +iphone()
          border-radius: 0

      .color-info
        padding 30px
        color white
        font-weight 500
        line-height 24px
        letter-spacing 2px
        text-transform uppercase
        font-style normal
        font-family Roboto Mono, sans-serif

        &.dark
          color black

        .hash
          font-weight normal
