@import "~styles/config.styl"

.colors-section
  display flex
  align-items center
  position relative
  height 400px
  padding 0 32px
  overflow hidden

  .section-name
    color $white

  .colors
    display flex
    max-width 1320px
    margin 0 auto
    flex-grow 1
    justify-content space-between
    z-index 1
    font-family Quicksand
    font-style Italic
    font-weight 700
    margin-top: 95px;

    .color
      width 25%

      &:first-child
        border-radius: 8px 0 0 8px;

      &:last-child
        border-radius: 0 8px 8px 0;

      .color-info
        padding 30px
        color $white
        font-weight 500
        font-style: normal
        font-family "Roboto Mono", sans-serif

        .hash
          font-weight normal
