.colors-section
  position relative
  display flex
  align-items center
  justify-content center
  height 720px
  padding 0 32px

  .colors-parallax
    z-index 1
    width 100%

  .section-name
    color white

  .colors
    display flex
    width 100%
    max-width 1320px
    margin 0 auto
    z-index 1

    .color
      height auto

      &:first-child
        border-radius 8px 0 0 8px

      &:last-child
        border-radius 0 8px 8px 0

      .color-info
        padding 24px
        color white
        font-size $small
        line-height 24px
        letter-spacing 2px
        text-transform uppercase

        div:first-child
          font-weight $medium-weight
