+iphone()
  .process
    .description
      .row
        display block
        margin-top 0

        &:first-child
          margin-top 0

+iphone5()
  .process
    .description
      .row
        display block
        margin-top 0

        &:first-child
          margin-top 0