+iphone()
  .process .process-content
    .container
      padding 64px 0

      .section-heading
        font-size 14px
        line-height 19px

      .row
        margin-top 0
        display block

+iphone5()
  .process .process-content
    .container
      padding 64px 0

      .section-heading
        font-size 14px
        line-height 19px

      .row
        margin-top 0
        display block