.input
  width 322px
  height 48px
  padding 16px
  outline none
  border none
  border-radius 8px
  background-color #F2F3F5
  -webkit-box-shadow inset 0 1px 0 0 rgba(0,0,0,0.07)
  -moz-box-shadow inset 0 1px 0 0 rgba(0,0,0,0.07)
  box-shadow inset 0 1px 0 0 rgba(0,0,0,0.07)

  &::placeholder
    color #AAADB2

  &:focus
    border 2px solid $blue
    background-color white

  &:focus::-webkit-input-placeholder
    color transparent


