.home-case-studies
  display flex
  flex-direction column
  align-items center
  margin-top 9.5%
  overflow-x hidden

  .screens-container-mobile
    display none

  //  TODO this is duplicated
  .case-studies-heading
    width 80vw

  .case-studies-bg
    margin-top 4.5%
    background-color #F7F9FC
    width 100vw
    display flex
    flex-direction column
    align-items center
    padding-top 7.8vh
    padding-bottom 14vh
    position relative

    .case-studies-description
      width 80vw

      .case-studies-title
        font-size 24px
        font-weight 600
        margin-bottom 0

      .case-studies-subtitle
        margin 1vh 0
        color #5C64AA
        font-size 14px

      .case-studies-text
        width 50vh

  .animated-button-container
    width 80vw
    margin-top 3.6vh
    display flex
    flex-direction row
    z-index 0

    .animated-button
      margin 0 8vw 0 0

  .screens-container
    position absolute
    right -6vw
    top -9.5vh
    display flex
    align-items center

    img
      max-width 16.40625vw

      &.phone-image
        max-width 19.765625vw


