.app
  position absolute
  display flex
  flex-direction column
  width 100vw
  font-family "Open Sans", sans-serif

.fade-enter
  opacity 0
  z-index 1

.fade-enter.fade-enter-active
  opacity 1
  transition opacity 400ms ease-in

.fade-exit
  svg
    display none

#fp-nav
  top 0 !important
  margin-top 0 !important
  right 0 !important
  height 100% !important
  width 6px !important
  background-color #ECF0F6 !important

  ul
    width 100% !important
    height 100% !important
    display flex !important
    flex-direction column !important

    li
      width 100% !important
      margin 0 !important
      height auto !important
      flex-grow 1 !important

      a
        position absolute !important
        top 0 !important
        margin 0 !important
        padding 0 !important
        width 100% !important
        height 100% !important

        span
          top 0 !important
          left 0 !important
          margin 0 !important
          padding 0 !important
          width 100% !important
          height 100% !important
          border-radius 0 !important
          background-color transparent !important

        &.active
          span
            background-color #9D9EE5 !important
