@import '~styles/config.styl'

.lpma-page
  .font-section
    color #ffffff
    font-family Rubik, sans-serif
    margin-bottom 128px

    .font-main-info .font-name .company
      color #6ebf56

    .font-types .font-size
      color #A5A5A5

    .font-types .font-example
      color #4E6553

    .section-name
      opacity 0.06
