+iphone()
  .clients
    .content
      .middle
        height 100%
        width 100vw

      .project-details-btn
        margin 0

+iphone5()
  .clients
    .content
      .middle
        height 100%
        width 100vw

