@import '~styles/config.styl'

.landing-v2
  .main-section-bg
    background url(./images/bg.png)
    background-size cover

  .main-section
    height 100vh
    max-width 1160px
    margin 0 auto
    display flex
    flex-direction column

    .main-info-bg
      background url(./images/main-art.png) right no-repeat
      background-size 760px 560px
      margin-top 20px
      display flex
      flex 1

      .main-info
        display flex
        flex-direction column
        justify-content center
        min-height 560px
        width 452px
        margin-left 20px

        .title
          font-family 'Roboto Mono', sans-serif
          font-size 32px
          line-height 42px
          margin-bottom 30px

        .desc
          color $dark-gray
          line-height 32px

        .buttons
          display flex
          margin-top 38px

          .explore-btn
            margin-right 32px
