@import "~styles/config.styl"

.services
  display flex
  flex-direction column
  justify-content space-between
  margin 80px 0 0 0

  .service-list
    display flex
    justify-content space-around
    align-items center
    height calc(100vh - 92px)
    background url("../../../../imports/images/services-bg.png") no-repeat center;
