@import "~styles/config.styl"

.services
  display flex
  flex-direction column
  justify-content space-between
  height calc(100vh - 80px)
  margin 60px 0

  .section-heading
    margin-top 20px

  .service-list
    display flex
    height calc(100vh - 272px)
    width 110%
    margin-top 60px
    margin-left -5%
    transform rotate(-3deg)
    background-color $light-gray

    .service-list-items
      flex 1
      display flex
      margin 0 124px
      align-items center
      transform rotate(3deg)
      flex-direction row
      justify-content space-around
