.page-404
  overflow hidden
  height 100vh
  background linear-gradient(rgba(0, 84, 255, 0), rgba(0, 77, 255, 0.1))

  .content
    display flex
    align-items center
    height 100%
    max-width 1160px
    margin 0 auto
    padding 0 32px

    .info
      position relative
      display flex
      flex-direction column
      width 452px

      .paragraph
        width 410px
        opacity 0.8

      .buttons
        display flex

        .home-button
          margin-top 38px

          .animated-button
            float left

      .illustration
        bottom -50%
        position absolute
        width 539px
        height 522px
        left 100%
        margin 0 0 40px -12px
        background url(/images/404artwork@2x.png)
        background-size @width @height
