.animated-button
  +iphone()
    height 36px

    &:hover .button-hover-text span
      display none

    .button-title
      font-size 3.47vw
      letter-spacing 1.37pt
      padding 0 6vw 0 0 !important
      margin 0 !important
      color #5c64aa

    .button-hover-text
      display none

    .button-icon
      width 8vw
      height 8vw
      border-radius 8vw

      svg
        width 2vw

    &:nth-child(2)
      display none
