+iphone()
  .next-project-section
    flex-direction column
    padding 80px 40px

    .description
      text-align center
      width auto

      .title
        font-size 20px

      .desc
        font-family "Open Sans", sans-serif
        letter-spacing 1.36px

    .full-review-btn
      display flex
      align-self center


+iphone5()
  .next-project-section
    padding 80px 30px
