+iphone()
  .next-project-section
    flex-direction column
    padding 80px 40px

    .description
      text-align center
      width auto
      margin 40px 0 0

      .title
        font-size 20px

      .desc
        letter-spacing 1.36px

    .full-review-btn
      display flex
      align-self center

      .button-title
        color white !important


+iphone5()
  .next-project-section
    padding 80px 30px
