+iphone()
  .next-project-section
    padding 80px 40px

    svg
      display none

    .description
        text-align center
        width auto
        margin-left 0
        text-transform uppercase

    .full-review-btn
      display flex
      align-self center

      .button
        .button-title
          color white!important


+iphone5()
  .next-project-section
    padding 80px 30px

    svg
      display none

    .description
      text-align center
      width auto
      margin-left 0
      text-transform uppercase

    .full-review-btn
      display flex
      align-self center

      .button
        .button-title
          color white!important