.case-study
  display flex
  flex-direction column
  align-items center
  margin-top 10vh
  overflow hidden

  .screens-container-mobile
    display none

  .case-study-bg
    margin-top 10%
    background-color #F7F9FC
    width 100vw
    display flex
    flex-direction column
    align-items center
    padding-top 3.4%
    padding-bottom 14vh !important
    position relative

    .case-study-description
      width 80vw

      .case-study-title
        font-size 1.8vw
        font-weight 600
        margin-bottom 0

      .case-study-subtitle
        margin 1vh 0
        color #5C64AA
        font-size 1.22vw

      .case-study-separator
        margin-top 3%
        border 0.6pt solid #5C64AA
        width 5.5vh

      .case-study-text
        font-size 1.15vw
        width 60vh
        letter-spacing 0.3pt

  .animated-button-container
    width 80vw
    margin-top 3.6vh
    display flex
    flex-direction row
    z-index 1

    .animated-button
      margin 0 8vw 0 0

  .screens-container
    position absolute
    right -6vw
    top -9.5vh
    display flex
    align-items center

    &.laptop
      right -7.5vw

    img
      max-width 16.40625vw

      &.phone-image
        max-width 19.765625vw

      &.laptop-image
        max-width 59vw
        overflow hidden
