.section-heading
  font-family "Roboto Mono", sans-serif
  text-transform uppercase
  text-align center

  .sub-title
    opacity 0.4
    line-height 21px
    letter-spacing 6px

    +iphone()
      font-size 14px
      line-height 19px

    +iphone5()
      font-size 12px
      line-height 17px

  .title
    margin-top 2px
    font-size $section
    line-height 63px
    letter-spacing 16px

    +iphone()
      font-size 28px
      line-height 37px
      letter-spacing 6px

    +iphone5()
      font-size 24px
      line-height 33px
      letter-spacing 6px
