.betteryet-page .header-section
  +iphone()
    .navigation-bar
      position absolute
      padding 40px

    .mobile
      width 80vw
      position absolute

    .betteryet-title
      position absolute
      bottom 10px

      svg
        height auto
        width 90vw

    .mobile-container
      img.mobile
        width 309px
        height 415px

        +iphone5()
          width 280px
          height 392px
