+iphone()
  .betteryet-page
    .header-section
      .navigation-bar
        position absolute

        .bar-content
          padding 32px 32px 0

      .mobile-container
        img.mobile
          width 309px
          height 415px

+iphone5()
  .betteryet-page
    .header-section
      .navigation-bar
        position absolute

        .bar-content
          padding 32px 32px 0

      .mobile-container
        img.mobile
          width 280px
          height 392px