@import '~styles/config.styl'

.betteryet-page .illustration-section
  display flex
  position relative
  align-items center
  justify-content center
  margin 0 auto
  max-width 1320px
  margin-top 120px
  height 100vh

  +iphone()
    overflow hidden

  .notebook-illustration
    position absolute

    img
      height 750px

      +iphone()
        margin-left 26%
        height 650px
