.betteryet-page .illustration-section
  display flex
  position relative
  align-items center
  justify-content center
  margin 0 auto
  max-width 1320px
  margin-top 120px
  height 100vh

  .notebook-illustration
    position absolute

    img
      height 750px
