@import '~styles/config.styl'

.betteryet-page .illustration-section
  display flex
  position relative
  align-items center
  justify-content center
  margin-top 60px
  height 100vh

  +iphone()
    height 50vh
    margin 32px 0
    overflow hidden

  .notebook-illustration
    position absolute

    img
      height 90vh

      +iphone()
        height 350px
