@import "~styles/config.styl"

.by-description-details
  width 234px

  div
    margin-top 12px
    font-weight $medium-weight
    line-height 23px

    &:first-child
      margin-top 0

    span
      display inline
      color $nobel
      font-weight $regular-weight
