+iphone()
  .logo-section
    height 100vh

    .logo-bg
      svg:first-child
        display none
      svg:last-child
        display inline

+iphone5()
  .logo-section
    height 100vh

    .logo-bg
      svg:first-child
        display none
      svg:last-child
        display inline