h1, h2, h3
  font-weight: 600
  line-height: 1.4

h1
  font-size: 48px
  font-weight: 600
  margin: 0 0 32px

h2
  font-size: 32px
  font-weight: 600

p
  font-size: 18px
  line-height 2

.section-heading
  .sub-title
    font-size 14px
    font-weight 600
    letter-spacing 3pt
    text-transform: uppercase
    color $red
    display: flex
    align-items center
    margin-bottom: 8px
    white-space nowrap

    &:before
      content ''
      display: block
      height: 1px
      background: $red
      width 64px
      margin-right: 12px
