+iphone()
  h1, h2, h3
    line-height: 1.2

  h1
    font-size: 32px
    margin: 0 0 24px

  h2
    font-size: 24px

  p
    font-size: 16px

  .section-heading
    .sub-title
      font-size: 14px
      letter-spacing: 2px

      &:before
        width 32px
        margin-right: 12px
