.team-member
  width 23vw
  padding 5vh 1vw 3vh 1vw
  border-radius 9px
  box-shadow 0 10px 50px 0 rgba(0, 0, 0, 0.1)
  display flex
  flex-direction column
  align-items center

  .member-photo
    margin 0 0 1vh 0
    height 13vw
    width 13vw
    background-color #bbb
    border-radius 50%
    display inline-block

  .member-content
    display flex
    flex-direction column
    align-items center

    .member-name
      font-family Montserrat
      font-size 1.65vw
      margin-bottom 0

    .member-position
      margin 1vh
      font-size 1.25vw
      color #5C64AA

    .member-separator
      width 4vw
      border 0.55px solid #5C64AA

    .member-text
      margin-top 1vh
      text-align center

      .member-para
        margin 1vh 0
