.service-card
  margin 0 8%
  padding 6% 8%
  background #FFFFFF
  box-shadow 0 10px 50px 0 rgba(0,0,0,0.10)
  border-radius 9px

  .service-top
    display flex
    flex-direction row
    justify-content space-between
    align-items center
    margin 0 0 12px 0

    .service-card-title
      font-size 5.86vw
      margin 0

    svg
      height 32px
      width 32px

  .service-card-description
    font-size 3.2vw
    color #4A4A4A
    line-height 2
    margin 0
