.page-404
  font-family 'Roboto Mono'
  display flex
  height 100vh
  background linear-gradient(rgba(0, 84, 255, 0), rgba(0, 77, 255, 0.1))

  .mobile-bg
    display none

  .content
    display flex
    align-items center
    width 100%
    max-width 1024px
    margin 0 auto

    .content-info
      display flex
      flex-direction column
      width 452px

      .heading .sub-title
        opacity 0.4

      .paragraph
        opacity 0.8
        width 408px

      .lets-go-home-button
        display flex
        margin-top 38px
